# Chain
CHAIN_RPC_URL=
CHAIN_CHAIN_ID=80002
RELAYER_PRIVATE_KEY=

# Polygonscan
ETHERSCAN_API_KEY=

# API
API_PORT=4000
JWT_SECRET=dev_dev_dev_change_me

# DB
DATABASE_URL=postgresql://stempel:stempel@localhost:5432/stempel

# Redis
REDIS_URL=redis://localhost:6379
