# Node / pnpm
node_modules/
pnpm-lock.yaml

# Env & Secrets
.env
apps/*/.env
contracts/.env

# Build/Dist
**/dist/
**/build/
**/.cache/

# Local tooling artifacts
scripts/.bin/

# Hardhat / Solidity build outputs
artifacts/
cache/

# Local databases
data/*.db
data/*.db-*

# Local server logs
*.log
api/.api.*.log
apps/.apps-server.*.log

# OS/IDE
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.env.local
